<div class="modal-body">
  <%= form_for @mouse, :url => update_mouse_sex_basket_path(@basket,mouse_id: @mouse.id), :method => :post, :remote => true, :html =>{:class => 'form-validate form-horizontal form-column form-striped'} do |f| %>
    <div class="control-group">
      <label for="textfield" class="control-label">Sex</label>
      <div class="controls">
        <%= f.select :sex, Mouse::SEXTYPE, {},{:class=> 'select input-large'} %>  
      </div>
    </div>
  <% end %>
</div>
