<div class="modal-body">
  <script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[

  $(document).ready(function(){
      $(".select").select2();
      });
//]]>
  </script>
  <%= form_for @basket, :remote => true, :html =>{:class => 'form-validate form-horizontal form-column form-bordered'} do |f| %>
    <div class="control-group">
    <label for="textfield" class="control-label">笼子类型</label>
    <div class="controls">
      <%= f.select :use_type, Basket::BASKETTYPE, {},{:class=> 'select input-large'} %>  
    </div>
  </div>

<% end %>
</div>
