<script>
  $(document).ready(function() {
      $('.item_list').tooltip();
    });
</script>
<div class="bar" id="temporarily_bar">
  <h1><img src="/assets/icon_box.png" />待办事项<span><a href="#"><img src="/assets/bar_close.png" class="slide_close" /></a></span></h1>
  <div class="bar_content" >
    <ul class="left_list" id="temporarily">
    <li class="item_list" title="事件描述" ><a href="#">[2015-4-5]笼子位置-操作-老鼠</a></li>
    <li class="item_list" title="事件描述" ><a href="#">[2015-4-5]笼子位置-操作-老鼠</a></li>
    <li class="item_list" title="事件描述" ><a href="#">[2015-4-5]笼子位置-操作-老鼠</a></li>
    <li class="item_list" title="事件描述" ><a href="#">[2015-4-5]笼子位置-操作-老鼠</a></li>
    <li class="item_list" title="事件描述" ><a href="#">[2015-4-5]笼子位置-操作-老鼠</a></li>
    </ul>
  </div>
</div>

