<% 5.times do |i| %>
  <a href="/baskets?box_num=<%= i%>" data-remote=true > 
  <div class="division" style="float:left;background:#CCFFFF;">架子<%= i + 1 %> </div>
</a>
<%end%>
<div style="clear:both"></div>
<br />
<div class="baskets_box">
</div>
