<div id="stores_area">
<script type="text/javascript" language="javascript" charset="utf-8">
$(function () { 
    $(".nav li").removeClass("current");
    $(".nav li.baskets_show").addClass("current");
});
</script>
<ul class="pot_list">
  <% @frameworks.each do |f_w| %>
    <li class="pot"><a class="potname" data-remote=true href="<%= framework_path(f_w) %>"><%= Framework.all.index(f_w)+1 %></a></li>
  <% end %>
</ul>
</div>
<div class="basket_show" style="padding-bottom:15px; border: 1px solid #bfbfbf;padding: 1px; display:none;"></div>
<br />
<div id="basket_cage_list"></div>
<% content_for :sidebar do %>
    <%= render :partial => 'todo_list' %>
<% end %>
<div id="myModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">小鼠</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="save_btn btn btn-primary" onclick="javascript: $('form:first').submit();">保存</button>
  </div>
</div>
