<% if user_signed_in? %>
  <div class="subnav">
    <div class="subnav-title">
      <a href="<%= strains_url%>" class='toggle-subnav2'><span>品系设置</span></a>
    </div>
  </div>
  <div class="subnav">
    <div class="subnav-title">
      <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>小鼠信息</span></a>
    </div>
    <ul class="subnav-menu">
      <li class="bar1">
      <%= link_to "所有小鼠", mice_url %>
      </li>
    </ul>
  </div>
<% end %>
