<div class="modal-body">
  <%= form_for(@user, :url => "/user/#{@user.id}/save_roles", :remote => true, :method => :put, :html => {:class => "user_form form-horizontal"}) do |f| %>
    <div class="control-group">
    <label class="control-label" for="textfield">角色</label>
    <div class="controls">
      <%= select_tag "role", options_for_select(Role.all.map{|r| r.name}, @user.roles.size > 0 ? @user.roles.first.name : nil), :class => "select2-me input-large" %>
    </div>
  </div>
<% end %>
</div>
