<div class="row-fluid">
  <div class="span12">
    <div class="box box-bordered box-color">
      <div class="box-title">
        <h3><i class="icon-list"></i>个人信息</h3>
      </div>
      <script type="text/javascript" language="javascript" charset="utf-8">
        $(document).ready(function(){
            $(".nav li").removeClass("current");
            $(".nav li.user_set").addClass("current");
            });
      </script>
      <div class="box-content nopadding">
        <div class='form-validate form-horizontal form-column form-bordered'>
          <div class="control-group">
            <label class="control-label" for="textfield">姓名</label>
            <div class="controls">
              <%= @user.full_name %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="textfield">系统登录名</label>
            <div class="controls">
              <%= @user.username %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="textfield">Email</label>
            <div class="controls">
              <%= @user.email %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar do %>
  <%= render :partial => "sidebar" %>
<% end %>
