/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#left .subnav .subnav-title .toggle-subnav2 {
    color: #444444;
    display: block;
    overflow: hidden;
    padding: 1px 6px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item_node {
    background: -moz-linear-gradient(center top , #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin: 0 5px 5px 0;
    padding: 4px 10px;
}

.line-li {
    border-bottom: 2px dotted #dddddd;
}
.division {
    border: 2px solid #dddddd;
    width: 70px;
    height: 30px;
    text-align:center;
    overflow:hidden;
    line-height:30px;
    margin: 5px 5px 0 0;
    /*padding: 4px 10px;*/
}
.box_div {
    border: 1px solid #dddddd;
    min-height: 300px;
}
.inner_div{
    margin: 5px 5px 5px 5px;
}
.division_mouse2 {
  padding-top: 3px;
}

.M_box{
  background:#66CCFF;
}
.S_box{
  background:#00CCFF;
}
.B_box{
  background:#FFCCFF;
}
.E_box{
  background:#9999FF;
}
