<p>您好 <%= @resource.email %>!</p>

<p>本邮件为密码修改请求. 您可通过下面的链接修改您的登陆密码.</p>

<p><%= link_to '点击修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果该请求不是您发送的，请删除该邮件.</p>
<p>您的登陆密码不会改变，除非您通过上面的链接修改了您的登陆密码.</p>
