$(".strain_form").replaceWith("<%= j render "form" %>")
$(".strain_box").hide()
$(".select").select2();
$(".tagsinput").tagsInput({width:'auto', height:'auto'});
KindEditor.create('#strain_description', {"width":"100%","height":300,"allowFileManager":false, "items":["fontname","fontsize","|","forecolor","hilitecolor","bold","italic","underline","removeformat","|","justifyleft","justifycenter","justifyright","insertorderedlist","insertunorderedlist","|","emoticons","image","link"]});
$(".btn_cancel").click(function(){
  $(".strain_box").show(); 
  $(".strain_form").empty()
});
$(".multiselect").each(function(){
    var $el = $(this);
    var selectableHeader = $el.attr('data-selectableheader'),
    selectionHeader  = $el.attr('data-selectionheader');
    if(selectableHeader != undefined)
    {
      selectableHeader = "<div class='multi-custom-header text'>"+selectableHeader+"</div>";
    }
    if(selectionHeader != undefined)
    {
      selectionHeader = "<div class='multi-custom-header text'>"+selectionHeader+"</div>";	
    }
    $el.multiSelect({
    selectionHeader : selectionHeader,
    selectableHeader : selectableHeader,
   });
});

