$(".strain_form").replaceWith("<%= j render "form" %>")
$(".strain_box").hide()
$(".select").select2();
$(".tagsinput").tagsInput({width:'auto', height:'auto'});
$(".btn_cancel").click(function(){
  $(".strain_box").show(); 
  $(".strain_form").empty()
});
$(".multiselect").each(function(){
    var $el = $(this);
    var selectableHeader = $el.attr('data-selectableheader'),
    selectionHeader  = $el.attr('data-selectionheader');
    if(selectableHeader != undefined)
    {
      selectableHeader = "<div class='multi-custom-header text'>"+selectableHeader+"</div>";
    }
    if(selectionHeader != undefined)
    {
      selectionHeader = "<div class='multi-custom-header text'>"+selectionHeader+"</div>";	
    }
    $el.multiSelect({
    selectionHeader : selectionHeader,
    selectableHeader : selectableHeader,
   });
});
$(".form-validate" ).validate({
  errorElement:'span',
  errorClass: 'help-inline help-block error',
  errorPlacement:function(error, element){
    element.parents('.controls').append(error);
  },
  highlight: function(label) {
    $(label).closest('.control-group').removeClass('error success').addClass('error');
  },
  success: function(label) {
    label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
  }
});
