<span class="sys_logo"></span>
<% if current_user %>
  <li class="store_set"><a href="/baskets/cage_setting" class="nav_plasmid_set">库设置</a></li>
  <li class="cell_samples"><a href="/mice" class="nav_cell_set">小鼠信息</a></li>
  <li class="cell_store"><a href="/baskets" class="nav_save">笼子信息</a></li>
  <li class="store_type_set"><a href="<%= user_index_path%>" class="nav_file_set">系统设置</a></li>
<%end%>
