<ul class="icon-nav">
  <li class='dropdown colo'>
  <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-tint"></i> 自定义风格</a>
  <ul class="dropdown-menu pull-right theme-colors">
    <li class="subtitle">
    风格颜色
    </li>
    <li>
    <% color_arr = ['red','orange','green','brown','blue','lime','teal','purple','pink','magenta','grey','darkblue','lightred','lightgrey','satblue','satgreen'] 
      color_arr.each do |color| %>
        <span class="<%= color %>"></span>
    <% end %>
    </li>
  </ul>
  </li>
<li class="dropdown">
  <% if user_signed_in? %>
  <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-user"></i> <%= current_user.username %></a>
  <ul class="dropdown-menu pull-right">
    <li>
    <%= link_to "修改密码", edit_user_path(current_user), :remote => true %> 
    </li>
    <li>
    <%= link_to "注销", destroy_user_session_path, :method => :delete %> 
    </li>
  </ul>
  <% end %>
</li>
</ul>
